/* Put your CSS here */
.ember-application {
    margin: 20px 0;
}
.ember-view .container {
	width: 100%;
}
.padd {
	margin: 0 20px;
}
.ember-view  .container .sixteen.columns{
	width: 100%;
	margin: 0;
}
.section {
	height: 900px;
	border-bottom: solid 1px #ccc;
}
.nav-container {
	position: relative;
}
.nav-splatter {
	position: absolute;
}
#canvas {
	position: absolute;
	top: -20px;
	left: 30px;
}
ul.nav {
	height: 50px;
	background-color: #000;
	width: 100%;
}

ul.nav li {
	float: left;
	line-height: 50px;
	color: #fff;
	padding: 0 20px;
}
ul.nav li:first-of-type {
	margin-left: 100px;
}
.showcase-image {
	width: 23%;
	margin-left: 1.25%;
	max-width: 300px;
}

.dota-hero-image-thumb {
	background-image: url('../images/dota_heroes_full.jpg');
	width: 128px;
	height: 72px;
	color: #fff;
	float: left;
}